z-button {
  .SearchButtonStyle{
    margin: 31px 0px 11px 0px;
    padding: 23px 15px 25px 19px;
    font-size: 20px !important;
    width: 100%;
    background-color: #74afff;
    border-radius: 5px;
    color: white;
  }
  .SignupButton{
    margin: 31px 0px 11px 0px;
    padding: 23px 15px 25px 19px;
    font-size: 20px !important;
    width: 100%;
    background-color: #6ad969;
    border-radius: 5px;
    color: white;
  }
}
