<ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/profile.png">
    </ion-avatar>
        <div class="header-div">
            <p><b>{{item.user.name}}</b></p>
            <p class="date-time">{{item.date}}</p>
        </div>
        <div *ngIf="item.other1 != null">
            <div class="header-div sub-div">
                <p><b>{{item.other1}} - {{item.other2}} Rs</b></p>
            </div>
        </div>

</ion-item>
<ion-card-content>
  <p>{{item.content}}</p>
</ion-card-content>
<p>{{item.autofillproduct[0]}}</p>
<!-- <div *ngIf="item.autofillproduct != null">
    <div *ngFor="let obj of item.autofillproduct">
        <ion-item>
            <ion-avatar item-start>
            <img class="img" src="{{obj.ImagePath}}">
            </ion-avatar>
                <div class="header-div">
                    <p><b>{{obj.name}}</b></p><br/>
                    <p class="phone text">{{obj.about}}</p>
                </div>
                <div class="header-div sub-div">
                    <p class="dealer text">{{obj.pType}}</p><br/>
                    <p class="dealer text">{{obj.Followers}}</p>
                </div>
        </ion-item>
    </div>
</div> -->
<div *ngIf="item.Type == 'feed'">
    <img src="assets/imgs/main.png">
</div>


