detail-header {
.header-div
{
    float:left;
    width:65%;
}
.sub-div
{
    width: 35%;
}
.date-time
{
    font-size: 9px;
    float: left;
    margin-right: 4px;
}
.text
{
    color:#868686
}
.header-div
    {
        float:left;
        width:63%;
    }
    .sub-div
    {
        width: 35%;
    }
    .phone
    {
        font-size: 12px;
    }
    .rates
    {
        text-align: right;
        float: left;
    }
    .content
    {
        float: right;
    }
    .text
    {
        color:#c5c5c5
    }
    .img
    {
        width: 60px !important;
        height: 60px !important;
    }
    .item-inner{
        margin: 5px 0 5px 0px;
    }
}
