<div *ngIf="item.attachedFeeds[0].other1 == null">
    <ion-item>
        <ion-avatar item-start>
                <img *ngIf="item.pImg.length > 0" style="border-radius: 50px" 
                src="{{'http://sarcasmnew.com/Arat/Artee/' + item.pImg[0].url}}"
                onError="this.src='assets/imgs/no-image.jpg';"  alt="..." />
                <img style="border-radius: 50px" 
                *ngIf="item.pImg.length == 0" src="assets/imgs/no-image.jpg"/>
        </ion-avatar>
        <div>    
        <div class="header-div">
                <p><b>{{item.user.name}}</b></p>
                <p class="date-time">{{item.date |  date:'dd - MMM'}} at {{item.date | date:'shortTime'}}</p>
            </div>
                <div *ngIf="item.other1 != null" class="header-div sub-div">
                    <p style="float: right;"><b>{{item.other1}} - {{item.other2}} Rs</b></p>
                </div>
                <div *ngIf="item.other1 == null" class="header-div sub-div">
                        <p style="float: right;"><b>-- Rs</b></p>
                </div>
            </div>    
                <p class="text content">{{item.content}}</p>
    </ion-item>
</div>    
    <!-- <p>{{item.autofillproduct[0]}}</p> -->
    <div *ngIf="item.attachedFeeds[0].other1 != null">
        <ion-item>
            <ion-avatar item-start>
                    <img *ngIf="item.pImg.length > 0" style="border-radius: 50px" 
                    src="{{'http://sarcasmnew.com/Arat/Artee/' + item.pImg[0].url}}"
                    onError="this.src='assets/imgs/no-image.jpg';"  alt="..." />
                    <img style="border-radius: 50px" *ngIf="item.pImg.length == 0" src="assets/imgs/no-image.jpg"/>
            </ion-avatar>
                <div class="header-div">
                    <p><b>{{item.user.name}}</b></p>
                <p class="date-time">{{item.date |  date:'dd - MMM'}} at {{item.date | date:'shortTime'}}</p>
                </div>
        </ion-item>
        
        <div *ngFor="let obj of item.attachedFeeds;let rowIndex = index">
            <ion-item>
                    <ion-avatar item-start style="width: 40px;">
                        <img *ngIf="item.autofillproduct != null" style="border-radius: 50px" 
                        src="{{'http://sarcasmnew.com/Arat/Artee/img/' + item.autofillproduct.email}}"
                        onError="this.src='assets/imgs/no-image.jpg';"  alt="..." />
                        <img style="border-radius: 50px" *ngIf="item.autofillproduct == null" src="assets/imgs/no-image.jpg"/>
                    </ion-avatar>
                    <div>
                            <p><b>{{obj.title}}</b></p><br/>
                            <p class="phone text">{{obj.about}}</p>
                    </div>
                    <div>
                            <p class="rates text"><b>{{item.other1}} - {{item.other2}} Rs</b></p>
                            <p class="text content">{{obj.content}}</p>
                    </div>
            </ion-item>
        </div>
    </div>