rates-item {
    .input-rate
    {
        float: left;
        width: 40%;
        border: solid 1px #e1e1e1;
        border-radius: 5px;
    }
    .span
    {
        float: left;
        width: 8%;
        font-weight: bold;
        margin: 16px 10px 0 21px;
    }
    .main-div
    {
        overflow: hidden;
    }
    .sub-div
    {
        margin-bottom: 5%;
    }
    .img-div
    {
        display: flex;
    align-items: center;
    margin-bottom: 3%;
    }
    .img-item
    {
        width: 20%;
        border: 1px solid #ccc;
        padding: 3px;
        border-radius: 5px;
    }
    .des-rate{
        border: solid 1px #e1e1e1;
        border-radius: 5px;
    }
}
