<div class="main-div sub-div">
  <div class="img-div">
    <img class="img-item" src="{{item.Image}}" />
  <p style="margin-left: 3%"><b>{{item.Name}}</b></p>
</div>
    <div class="main-div">
    <ion-input class="input-rate" type="text" placeholder="Min Rate"></ion-input>
    <span class="span">To</span>
    <ion-input class="input-rate" type="text" placeholder="Max Rate"></ion-input>
  </div>
    <input-label InputLabel="Description" InputPlaceholder="Add Description"></input-label>
  </div>
