page-home {
  .toolbar-background-md{
    background: transparent !important;
  }
  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
    background-image: none !important;
  }
  .toolbar-title-md{
    color: black;
    text-align: center;
    color: white;
  }
  .titleUnderslider{
    text-align: center;
    color: black;
    margin-bottom: 0px;
  }
  .LoginSignupButtonStyle{
   // margin: 31px 0px 11px 0px;
    padding: 10px 40px 10px 40px;
    font-size: 13px !important;
    width: 100%;
    background-color: #6ad969;
    border-radius: 5px;
    color: white;
  }
  ion-scroll {
    white-space: nowrap;
    height: 250px;
  }
}
