.toolbar-background-md{
    background-color: #6ad969 !important;
  }
  .SearchText
  {
      margin-left: 105px;
  }
  .toolbar-title-md
  {
      color: #fff !important;
  }
  .bold-items
  {
      font-weight: bold !important;
  }