
.menu-inner{
  width: 85% !important;
}
.color{
  background-color: white;
  color: black;
}
.item-md.item-block .item-inner{
  border:none!important;
}
.item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input{
  margin-left: 10px!important;
}
.back-image{
  background-image: url("../assets/imgs/menubackground.png") !important;
  background-repeat: no-repeat;
  //padding: 32%;
  background-size: 100%;
  height: auto;
}
.avatar-set{
  //border-radius: 50%;
  width: 24%;
  /* text-align: -webkit-match-parent; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 33px;
}
.edit_icon{
  float: right;
  margin: 15px;
  height: 20px;
}
.main_title{
  color: white;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 3px;
}
.sub_title{
  color: white;
  text-align: center;
  margin-top: 0px;
  padding-bottom: 25px
}

// ion-tab
// {
//     display: block !important;
// }
// .bar-button-default-md
// {
//     display: none;
// }
// .segment-nav
// {
//     height: 70px;
// }
// .segment-md .segment-button
// {
//     border-bottom: none;
// }
// .segment-btn
// {
//     border-right: 1px solid #ccc !important;
// }
.segment-toolbar
{
    height: 63px !important;
}
ion-segment-button {
    height: 66px !important;
    line-height: 1.5rem !important;

    padding-left: 0px !important;
    padding-right: 0px !important;
    color: black !important;
    font-weight: bold !important;
    font-size: 13px !important;
  }
  .p-head
  {
      margin-top: 0 !important;
      margin-bottom: 1px !important;
  }
  .set-size{
    font-size: 20px !important;
  }
  .Sizeoffont{
    font-size: 10px !important;
  }
  .toolbar-background-md{
    background-color: #6ad969 !important;
    border-color: #6ad969 !important;
  }
  .toolbar-title-md
  {
    color: white !important;
  }
  .ion-header-margin
  {
    margin-top: 50px !important;
  }
  .ion-header-margin > .scroll-content{
    margin-bottom: 80px !important;
  }
  .ion-header-margin-profile >.scroll-content{
    margin-bottom: 80px !important;
  }
  .segment-toolbar > .toolbar-background{
    background-color: white !important;
  }