

<!-- <h2 class="item-title">{{sliderTitle}}</h2>
  <ion-row>
    <ion-item no-lines style="padding: 0px">
      <ion-scroll scrollX="true" scroll-avatar>
        <ion-avatar>
          <horizontal-item-slider avatarImg={{avatarhomeImg}} avatarTitle={{avatarhomeTitle}}></horizontal-item-slider>
          <horizontal-item-slider avatarImg="../../assets/tractor.png" avatarTitle="Avatar1"></horizontal-item-slider>
          <horizontal-item-slider avatarImg="../../assets/tractor.png" avatarTitle="Avatar1"></horizontal-item-slider>
          <horizontal-item-slider avatarImg="../../assets/tractor.png" avatarTitle="Avatar1"></horizontal-item-slider>
          <horizontal-item-slider avatarImg="../../assets/tractor.png" avatarTitle="Avatar1"></horizontal-item-slider>
          <horizontal-item-slider avatarImg="../../assets/tractor.png" avatarTitle="Avatar1"></horizontal-item-slider>
          <horizontal-item-slider avatarImg="../../assets/tractor.png" avatarTitle="Avatar1"></horizontal-item-slider>
          <horizontal-item-slider avatarImg="../../assets/tractor.png" avatarTitle="Avatar1"></horizontal-item-slider>
        </ion-avatar>
      </ion-scroll>
    </ion-item>
  </ion-row> -->
