communication-item {
.img-avatar
{
    float: left;
}
.time
{
    margin-top: 12px;
}
.text
{
    color:#c5c5c5
}
.item
{
    border-bottom:1px solid #e0dfdf
}
.img
{
    border-radius: 0 !important;
    height: 60px !important;
    width: auto !important; 
}
}
