input-field {
    .SearchInput{
    border: solid 1px #e1e1e1;
    border-radius: 5px;
    }
    .text-input-md{
    padding: 14px 0px 14px 13px !important;
    margin: 0px !important;
    font-size: 17px;
    }
}
