<ion-content *ngIf="feedList != null;" class="ion-header-margin" padding style="background: transparent">
    <ion-card  id="card_margin" *ngFor="let item of feedList.feed">
 
<detail-header  [item]="item">

</detail-header>
        <ion-row>
          <ion-col>
            <button class="btn" ion-button color="light">
              {{item.Comment}} Comments
            </button>
          </ion-col>
          <ion-col>
            <button class="btn follow-btn" ion-button icon-start color="light">
              <ion-icon class="follow-icon" name="heart"></ion-icon>
              {{item.Follow}} Follow
            </button>
          </ion-col>
        </ion-row>
      </ion-card>

</ion-content>
