page-feeds {
    .btn
    {
        font-size: 12px;font-weight: 300;text-transform: capitalize;
    }
    .follow-btn
    {
        float:right;
    }
    .follow-icon
    {
        color: orange;font-size: 14px;
    }
    .feedInput
    {
        border: solid 1px #e1e1e1;
        border-radius: 5px;
        width: 65%;
        float: left;
        margin-left: 2%;
    }
    .text-input-md
    {
    padding: 0px 0px 0px 10px !important;
    font-size: 15px;
    }
    .UploadButtonStyle
    {
        padding: 15px 11px 17px 13px;
        font-size: 10px !important;
        background-color: #74afff;
        border-radius: 5px;
        color: white;
        margin: 3px 0px 0px 5px;
    }
    .set-size
    {
        font-size: 22px !important;
    }
    .avatar-style{
        margin: 0px !important;
    }
}
