<ion-content *ngIf="feedList != null;" class="ion-header-margin" padding style="background: transparent">
    <ion-card  id="card_margin" *ngFor="let item of feedList.feed">
 
<detail-header  [item]="item">

</detail-header>
        <ion-row>
          <ion-col>
            <button *ngIf="item.comments.length > 1" class="btn" ion-button color="light">
              {{item.comments.length}} Comments
            </button>
            <button *ngIf="item.comments.length == 0 ||item.comments.length == 1" class="btn" ion-button color="light">
                {{item.comments.length}} Comment
              </button>
          </ion-col>
          <ion-col>
            <button *ngIf="item.likeCount > 0" class="btn follow-btn" ion-button icon-start color="light">
              <ion-icon class="follow-icon" name="md-thumbs-up"></ion-icon>
              Liked {{item.likeCount}} 
            </button>
            <button *ngIf="item.likeCount == 0" class="btn follow-btn" ion-button icon-start color="light">
                <ion-icon class="follow-icon" name="md-thumbs-up"></ion-icon>
                Like {{item.likeCount}} 
              </button>
          </ion-col>
        </ion-row>
      </ion-card>

</ion-content>
